In [2]:
#Importing of dependencies, maybe don't need all?
import matplotlib.pyplot as plt
import csv
import numpy as np
from numpy.polynomial.polynomial import polyfit as poly
import statsmodels.api as sm
import scipy as stats
import pandas as pd
from sklearn import linear_model
from pprint import pprint

In [7]:
#read our Fangraphs data from the following links:
total = pd.read_csv("Resources/Barton.csv")
# Combine individual player seasons
total.head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,1923,Babe Ruth,Yankees,152,699,41,151,131.0,17.0,24.3 %,...,0.393,0.545,0.764,0.571,231,-3.2,117.3,12.6,15.0,1011327
1,1921,Babe Ruth,Yankees,152,693,59,177,171.0,17.0,20.9 %,...,0.378,0.512,0.846,0.575,224,0.2,119.2,-0.2,13.9,1011327
2,1920,Babe Ruth,Yankees,142,615,54,158,137.0,14.0,24.4 %,...,0.376,0.533,0.849,0.598,239,-0.3,110.9,-4.7,13.3,1011327
3,1927,Babe Ruth,Yankees,151,691,60,158,164.0,7.0,19.8 %,...,0.356,0.486,0.772,0.545,212,-1.8,102.7,5.5,13.0,1011327
4,2002,Barry Bonds,Giants,143,612,46,117,110.0,9.0,32.4 %,...,0.370,0.582,0.799,0.544,244,-1.2,108.9,-2.0,12.7,1109

In [12]:
bartons = total[total.OBP - total.AVG >= .1]
bartons = total[total.OBP > total.SLG]
bartons = bartons.sort_values(by=['Season'], ascending=False)
bartons.Name.nunique()

752

In [15]:
round(bartons.describe(),3)

,Season,G,PA,HR,R,RBI,SB,ISO,BABIP,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
count,1550.000,1550.000,1550.000,1550.000,1550.000,1536.000,1490.000,1550.000,1155.000,1550.000,1550.000,1550.000,1550.000,1550.000,1550.000,1550.000,1550.000,1550.000,1550.000
mean,1929.634,132.368,560.995,1.850,70.864,43.320,21.618,0.063,0.282,0.259,0.345,0.322,0.322,94.601,0.494,-2.221,2.505,1.970,954671.874
std,36.257,22.916,103.534,2.264,23.092,15.488,18.044,0.023,0.033,0.034,0.047,0.046,0.044,23.923,2.639,15.908,9.793,1.842,223970.534
min,1871.000,7.000,28.000,0.000,3.000,0.000,0.000,0.000,0.098,0.074,0.097,0.074,0.087,-100.000,-8.400,-51.700,-28.500,-2.800,10.000
25%,1902.000,125.000,515.000,0.000,55.000,33.000,8.000,0.047,0.260,0.238,0.316,0.294,0.294,80.000,-1.000,-12.975,-4.500,0.700,1002858.750
50%,1917.000,136.000,570.500,1.000,69.000,42.000,17.000,0.061,0.282,0.258,0.345,0.322,0.322,94.000,0.000,-3.200,1.400,1.800,1006604.000
75%,1959.750,147.750,626.000,3.000,84.000,52.000,30.000,0.077,0.304,0.280,0.374,0.350,0.349,111.000,1.500,8.200,8.700,3.100,1010771.000
max,2012.000,163.000,757.000,17.000,156.000,107.000,138.000,0.176,0.395,0.391,0.547,0.463,0.494,178.000,17.700,68.300,43.700,9.300,1014441.000

In [16]:
bartons.Name.mode()

0    Donie Bush
dtype: object

In [26]:
livebartons = livebartons[bartons.Season > 1919]
livebartons = livebartons.sort_values(by=['Season'], ascending=False)
livebartons.count()

C:\Users\alana\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Season      717
Name        717
Team        717
G           717
PA          717
HR          717
R           717
RBI         717
SB          717
BB%         717
K%          717
ISO         717
BABIP       717
AVG         717
OBP         717
SLG         717
wOBA        717
wRC+        717
BsR         717
Off         717
Def         717
WAR         717
playerid    717
dtype: int64